<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Drivana Dashboard" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tailwind', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="main-body" class="min-h-screen bg-gradient-to-b from-violet-100 to-white">
    <%= render "shared/alerts" %>
    <%= render "dashboard/shared/header" %>
    
    <main class="container mx-auto px-4 py-8">
      <%= yield %>
    </main>
  </body>
</html> 